html, div.section, section.section#comments, nav {
  background: #ffe url(./image/fade.png) top center repeat-x;
  color: maroon !important;
}

div.chanReply {
    background-color: #f0e0d6;
    border: 1px solid #d9bfb7;
    border-left: none;
    border-top: none;
    display: table;
    padding: 2px;
}

.implying {
  color: #789922 !important;
}

blockquote.chanMessage {
  display: block;
  background-color: #f0e0d6;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 40px;
  -webkit-margin-end: 40px;
}

.chanReply strong {
  color: #117743 !important;
}
