.is-dark {
  background-color: rgb(30, 30, 30);
  color: whitesmoke;
}
.nav-item, .footer h1.title {
  color: goldenrod !important;
}
.nav-item:hover {
  color: whitesmoke !important;
}
.nav-toggle.is-active span {
  background-color: rgb(30, 30, 30);
}
.nav-toggle.is-active, .nav-toggle:hover {
  background-color: goldenrod;
}
section.hero .title {
  font-size: 3rem;
}
section.hero .subtitle {
  font-size: 2rem;
}
section.hero .hero-body img {
  width: 32em;
}
@media screen and (min-width: 1000px) {
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
  .hero-foot .nav-item {
    font-size: 2rem;
  }
  .hero-foot .nav-item:hover {
    color: rgb(30, 30, 30) !important;
  }
  .hero-foot .container.is-dark {
    background-color: initial;
  }
}
@media screen and (max-width: 999px) {
  .nav-menu {
    display: none;
    background-color: rgb(30, 30, 30);
    box-shadow: 0 4px 7px rgba(10,10,10,.1);
    left: 0;
    display: none;
    right: 0;
    top: 100%;
    position: absolute;
  }
  .nav>.container {
    width: 100%;
  }
  .nav-toggle, .nav-menu.is-active {
    display: block;
  }
  .nav-menu .nav-item {
      border-top: 1px solid rgba(219,219,219,.5);
      padding: .75rem;
  }
  .nav-item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .hero-foot .container.is-dark {
    background-color: rgb(30, 30, 30);
  }
}
.media-left, .media-right {
  flex-shrink: inherit;
}
.media-right {
  margin-left: 0.25rem;
}
.footer .button {
  background-color: goldenrod;
  border: none;
}
.footer .button:hover, .nav-toggle span {
  background-color: whitesmoke;
}
.footer {
  padding: 3rem 1.5rem 1.5rem;
}
.footer h1 a {
  color: goldenrod;
  text-decoration: underline;
}
.footer h1 a:hover {
  color: whitesmoke;
}
.input:active, .input:focus {
  border-color: goldenrod;
}
.button.is-info.is-hovered, .button.is-info:hover {
  color: goldenrod
}
.button.is-info:active {
  color: rgb(30, 30, 30);
}
.videoWrapper .icon.is-large {
  height: 6rem;
  width: 6rem;
}
.videoWrapper .icon.is-large .fa {
  font-size: 6rem;
}
.loader {
  border: none;
  color: goldenrod;
  animation: spinAround 1.5s infinite ease-in-out;
}